/* DARK THEME (DEFAULT)*/

:root {
  /* Backgrounds */
  --bg-primary: #fef6ef;
  --bg-secondary: #171726;
  --bg-third-color: #231835;
  --bg-card: #21212c;
  --bg-glass: rgba(255, 255, 255, 0.05);

  /* Brand */
  --color-primary: #111111;
  --color-primary-light: #333333;
  --color-primary-dark: #000000;

  /* Accent */
  --color-accent: #ffffff;
  --color-danger: #ef4444;
  --color-success: #22c55e;

  /* Text */
  --text-primary: #424242;
  --text-secondary: #a1a1aa;
  --text-muted: #71717a;
  --text-bg: #92613a;

  /* Borders */
  --border-color: rgba(255, 255, 255, 0.08);
  --border-bg-color: #260944;

  /* Player */
  --player-bg: #2a1b4d;
  --progress-bg: rgba(255, 255, 255, 0.1);

  /* Buttons */
  --btn-primary: #ef4444;
  --btn-primary-hover: #dc2626;

  --btn-secondary: #0eea5e;
  --btn-secondary-hover: #22c55e;

  --btn-third: #ffc838;
  --btn-third-hover: #ebb223;
  /* Shadow */
  --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.4);

  /* Blur */
  --blur-glass: blur(20px);

  /* Radius */
  --radius-lg: 50px;
  --radius-md: 14px;
  --radius-sm: 10px;

  /* Transition */
  --transition: all 0.3s ease;
  --transition-player: background 0.15s linear;
  --transition-progress: left 0.15s linear;
  --transition-image: transform 0.35s ease, box-shadow 0.35s ease;
  --transform-image: scale(1.08);
}

/* LIGHT THEME */

[data-theme="light"] {
  /* Backgrounds */
  --bg-primary: #dfc8f6;
  --bg-secondary: #ffffff;
  --bg-third-color: #f4c0f1;
  --bg-card: #ffffff;
  --bg-glass: rgba(0, 0, 0, 0.04);

  /* Brand */
  --color-primary: #111111;
  --color-primary-light: #333333;
  --color-primary-dark: #000000;

  /* Accent */
  --color-accent: #ffffff;
  --color-danger: #ef4444;
  --color-success: #22c55e;

  /* Text */
  --text-primary: #18181b;
  --text-secondary: #52525b;
  --text-muted: #71717a;

  /* Borders */
  --border-bg-color: #8a789c;
  --border-color: rgba(0, 0, 0, 0.08);

  /* Player */
  --player-bg: #ede9fe;
  --progress-bg: rgba(0, 0, 0, 0.1);

  /* Buttons */
  --btn-primary: #ef4444;
  --btn-primary-hover: #dc2626;
  --btn-secondary: #0eea5e;
  --btn-secondary-hover: #22c55e;
  --btn-third: #ffc838;
  --btn-third-hover: #a97e10;

  /* Shadow */
  --shadow-lg: 0 10px 25px rgba(0, 0, 0, 0.1);

  /* Transition */
  --transition: all 0.3s ease;
  --transition-player: background 0.15s linear;
  --transition-progress: left 0.15s linear;
  --transition-image: transform 0.35s ease, box-shadow 0.35s ease;
  --transform-image: scale(1.08);
}
